# Compiled class file
*.class
*.iml
*.idea
target/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings

/temp/
/picture/
/upload/
/jarData/
/logs/
/venv/

#/gyb-app/gyb-nb-service-sys/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-service-cms/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-service-library/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-service-msg/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-service-xm/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-task/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-web-platform/src/main/resources/application-prod.properties
#/gyb-app/gyb-nb-service-gy/src/main/resources/application-prod.properties