<%
layout("/layouts/platform.html"){
%>

<link rel="stylesheet" href="${base!}/assets/css/pagination.css">

<!-- content wrapper -->
<div class="content-wrap">

    <!-- inner content wrapper -->
    <div class="wrapper">

        <!-- 项目列表 -->
        <div class="row mb15">
            <div class="col-xs-6">

                <div class="pull-left offscreen-left" style="padding-top:15px;">
                    <div class="input-group mb15">
                        <input type="text" class="form-control" placeholder="请输入任务书名称">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div>


                </div>

            </div>

            <div class="col-xs-6 text-right">
                <div class="btn-group mr5 mt10">
                    <button type="button" id="SearchType" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" value="0">
                        <span id="search">查询条件</span>
                        <span class="ti-angle-down ml10"></span>
                    </button>
                    <ul class="dropdown-menu text-left" >
                        <li>
                            <a id="type0" onclick="setSearchFilter(0)">全部</a>
                            <a id="type1" onclick="setSearchFilter(1)">最近发布</a>
                            <a id="type2" onclick="setSearchFilter(2)">限制匹配</a>
                        </li>
                    </ul>
                </div>

                <!--图片切换-->
                <!--<div class="btn-group view-options mt10" data-toggle="buttons">-->
                    <!--<label class="btn btn-primary btn-sm active" data-view="grid">-->
                        <!--<input type="radio" name="options" id="option1">-->
                        <!--<i class="ti-view-grid"></i>-->
                    <!--</label>-->
                    <!--<label class="btn btn-primary btn-sm" data-view="list">-->
                        <!--<input type="radio" name="options" id="option2">-->
                        <!--<i class="ti-view-list"></i>-->
                    <!--</label>-->
                <!--</div>-->


            </div>
        </div>


        <div class="switcher view-list">
            <div class="row feed" id="result" style="position: relative;">
                <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 switch-item">-->
                <!--<section class="panel">-->
                <!--&lt;!&ndash;<div class="thumb">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="img-responsive" alt="Responsive image" src="">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="panel-body">-->
                <!--<div class="switcher-content">-->

                <!--&lt;!&ndash;相关信息&ndash;&gt;-->
                <!--<div class="tile-title h4 mt5 mb5">-->
                <!--<b>Realtime page clicks</b>-->
                <!--</div>-->
                <!--<p>Shaw, those twelve beige hooks are joined if I patch a young, gooey mouth.-->
                <!--</p>-->

                <!--&lt;!&ndash;主要信息&ndash;&gt;-->
                <!--<div class="mb10">-->
                <!--<a href="javascript:;" class="mr15">-->
                <!--<i class="ti-file text-warning mr5"></i>MAY 2014, 19:20-->
                <!--</a>-->
                <!--<a href="javascript:;" class="mr15">-->
                <!--<i class="ti-alarm-clock  text-danger mr5"></i>MAY 2014, 19:20-->
                <!--</a>-->
                <!--<a href="javascript:;">-->
                <!--<i class="ti-wallet  text-danger mr5"></i><b>1000</b> RMB-->
                <!--</a>-->
                <!--</div>-->

                <!--&lt;!&ndash;技能等级&ndash;&gt;-->
                <!--<p class=" mg-b">-->
                <!--<span class="label label-default">Default</span>-->
                <!--<span class="label label-primary">Primary</span>-->
                <!--<span class="label label-success">Success</span>-->
                <!--<span class="label label-info">Info</span>-->
                <!--<span class="label label-warning">Warning</span>-->
                <!--<span class="label label-danger">Danger</span>-->
                <!--<span class="label label-color">Color</span>-->
                <!--</p>-->

                <!--&lt;!&ndash;<ul class="text-muted list-style-none md10">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="fa fa-star text-warning"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="fa fa-star text-warning"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="fa fa-star text-warning"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="fa fa-star text-warning"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="fa fa-star-o"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->

                <!--<small class="pull-right mr15 mb5">Yesterday, 13:48</small>-->
                <!--</section>-->
                <!--</div>-->
            </div>
        </div>

        <!-- 索引 -->
        <section class="panel bg-none">
            <div class="text-center ">
                <ul class="pagination M-box3">
                </ul>
            </div>
        </section>
    </div>
    <!-- /inner content wrapper -->

</div>
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
<script src="${base!}/assets/js/jquery.pagination.js"></script>
<script type="text/javascript">
    var count = ${count} ;                          //页码
    var perpage = 2;                                //每页项目数量
    var defaultstart = 0;                           //默认页
    var SearchType = 0;                             //默认过滤类型
    var taskName = "";                              //默认项目名称
    var pagecount = count/perpage;       //页码总数

    function initxmlist(){
        $.ajax({
            url:"/public/xm/data?start="+defaultstart,
            type:"get",
            contentType:"application/json;charset=utf-8",
            dataType:"json",
            success:function(data){
                var count = 0;
                //i表示在data中的索引位置，n表示包含的信息的对象
                $.each(data["data"],function(i,n) {
                    count++;
                    if(count > perpage)
                        return 0;
                    //获取对象中属性为value的值
                    var xmtaskid = n.id;                //编号
                    var xmtitle = n.taskname;           //名称
                    var xminfo = n.info;                //简介
                    var award = n.award;                //奖金
                    var firstcommit = moment(parseInt(n.firstcommit * 1000)).format("YYYY-MM-DD HH:mm:ss");     //初稿时间
                    var endtime = moment(parseInt(n.endtime * 1000)).format("YYYY-MM-DD HH:mm:ss");             //截止时间
                    var applyendtime = moment(parseInt(n.applyendtime * 1000)).format("YYYY-MM-DD HH:mm:ss");   //申请截止时间
                    var at = moment(parseInt(n.publishAt * 1000)).format("YYYY-MM-DD HH:mm:ss");                //发布时间
                    var resultitem = '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 switch-item">' +
                        '<section class="panel">' +
                        '<div class="panel-body">' +
                        '<div class="switcher-content">' +
                        '<div class="tile-title h4 mt5 mb5">' +
                        '<b><a href="/public/xm/task/' + xmtaskid + '">' + xmtitle + '</a></b>' +
                        '</div>' +
                        '<p>' + xminfo + '</p>' +
                        '<div class="mb10">' +
                        '<a href="javascript:;" class="mr15">' +
                        '<i class="ti-file text-warning mr5"></i>' + firstcommit +
                        '</a>' +
                        '<a href="javascript:;" class="mr15">' +
                        '<i class="ti-alarm-clock  text-danger mr5"></i>' + endtime +
                        '</a>' +
                        '<a href="javascript:;" class="mr15">' +
                        '<i class="ti-alarm-clock  text-danger mr5"></i>' + applyendtime +
                        '</a>' +
                        '<a href="javascript:;">' +
                        '<i class="ti-wallet  text-danger mr5"></i><b>' + award + '</b> RMB' +
                        '</a>' +
                        '</div>' +
                        '<p class=" mg-b">';
                    $.each(data["data"], function (i, n) {
//                        console.log("skilllimit");
//                        console.log(n);
                        switch (n.skilllevel) {
                            case 1:
                                resultitem = resultitem + '<span class="label label-default">' + n.skilllevel + '</span>';
                                break;
                            case 2:
                                resultitem = resultitem + '<span class="label label-default">' + n.skilllevel + '</span>';
                                break;
                            case 3:
                                resultitem = resultitem + '<span class="label label-default">' + n.skilllevel + '</span>';
                                break;
                            case 4:
                                resultitem = resultitem + '<span class="label label-default">' + n.skilllevel + '</span>';
                                break;
                            case 5:
                                resultitem = resultitem + '<span class="label label-default">' + n.skilllevel + '</span>';
                                break;
                            default:
                                break;
                        }
                    }),
                        resultitem = resultitem + '</p></div> </div> <small class="pull-right mr15 mb5">' + at + '</small></section></div>';
                    $('#result').append(resultitem);
                    pagecount = data.listCount;
                    eachpage = data.recordsTotal;
                })
            },
            error:function(){
                alert("error");
            }
        });
    }

    $(function() {
        //初始化当前页
        console.log(pagecount);
        if( pagecount%1 != 0) {
            pagecount = parseInt(pagecount) + 1;
        }
        console.log(pagecount);


        initxmlist();
        $('.M-box3').pagination({
            pageCount: pagecount,    //pagecount,
            showData: perpage,       //eachpage,
//          current: current,        //current,
            jump: true,
            coping: false,
            homePage: '首页',
            endPage: '末页',
            prevContent: '<<',
            nextContent: '>>',
            isHide: 'false',
            jump: true,
            callback: function (api) {
                var data = {
                    start: api.getCurrent(),
                    SearchFilter: $('SearchType').val(),
                    taskName: taskName
                };
                var realstart = (api.getCurrent()-1)*perpage;
                var count = 0;
                $.ajax({
                    url:"/public/xm/data?start="+realstart,
                    type:"get",
                    contentType:"application/json;charset=utf-8",
                    dataType:"json",
                    success:function(data){
                        //清空项目列表
                        $('#result').empty();
//                        console.log(data);
                        //i表示在data中的索引位置，n表示包含的信息的对象
                        $.each(data["data"],function(i,n) {
                            count++;
                            if(count > perpage)
                                return 0;
                            //获取对象中属性为value的值
                            var xmtaskid = n.id;                //编号
                            var xmtitle = n.taskname;           //名称
                            var xminfo = n.info;                //简介
                            var award = n.award;                //奖金
                            var firstcommit = moment(parseInt(n.firstcommit * 1000)).format("YYYY-MM-DD HH:mm:ss");     //初稿时间
                            var endtime = moment(parseInt(n.endtime * 1000)).format("YYYY-MM-DD HH:mm:ss");             //截止时间
                            var at = moment(parseInt(n.publishAt * 1000)).format("YYYY-MM-DD HH:mm:ss");                //发布时间
                            var resultitem = '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 switch-item">' +
                                '<section class="panel">' +
                                '<div class="panel-body">' +
                                '<div class="switcher-content">' +
                                '<div class="tile-title h4 mt5 mb5">' +
                                '<b><a href="/public/xm/task/' + xmtaskid + '">' + xmtitle + '</a></b>' +
                                '</div>' +
                                '<p>' + xminfo + '</p>' +
                                '<div class="mb10">' +
                                '<a href="javascript:;" class="mr15">' +
                                '<i class="ti-file text-warning mr5"></i>' + firstcommit +
                                '</a>' +
                                '<a href="javascript:;" class="mr15">' +
                                '<i class="ti-alarm-clock  text-danger mr5"></i>' + endtime +
                                '</a>' +
                                '<a href="javascript:;">' +
                                '<i class="ti-wallet  text-danger mr5"></i><b>' + award + '</b> RMB' +
                                '</a>' +
                                '</div>' +
                                '<p class=" mg-b">';
                            resultitem = resultitem + '</p></div> </div> <small class="pull-right mr15 mb5">' + at + '</small></section></div>';
                            $('#result').append(resultitem);
//                            pagecount = data.listCount;
                            eachpage = data.recordsTotal;
                        })
                    },
                    error:function(){
                        alert("error");
                    }
                });
            }
        });
    });

    function setSearchFilter(type) {
        var typeid = "type" + type;
        var SearchName = $('#'+typeid).text();
        $('#search').text(SearchName);
        var SearchType = $('#SearchType').val(type);
    }


</script>

<%}%>