<%
layout("/layouts/clean.html"){
%>

    <body class="">
        <div class="center-wrapper">
            <div class="center-content">
                <div class="row no-m">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <section class="bg-white no-b">

                            <div class="step-content">

                                <section class="panel bg-white no-b fadeIn animated">
                                    <header class="panel-heading no-b text-center" style="font-size:30px;">
                                        ${AppName!}:找回密码
                                    </header>

                                <form role="form" class="form-horizontal parsley-form" data-parsley-validate action="${base}/public/dopassword" method="post">

                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">邮箱</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="email" name="email" data-parsley-type="email" class="form-control" placeholder="请输入您的邮箱!" data-parsley-trigger="change">
                                        </div>
                                    </div>


                                    <div class="form-group text-center">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-6">
                                            <label></label>
                                            <button class="btn btn-primary btn-block btn-parsley" data-loading-text="正在提交...">密码找回
                                            </button>
                                        </div>
                                    </div>

                                </form>
                                </section>

                                <p class="text-center">
                                    Copyright &copy;
                                    <span id="year" class="mr5"></span>
                                    <span>武汉哎嘀信息科技有限公司</span>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
<%}%>