<%
layout("/layouts/clean.html"){
%>

<body class="">
<div class="center-wrapper">
    <div class="center-content">
        <div class="row no-m">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <section class="bg-white no-b">
                    <ul class="switcher-dash-action">
                        <li>
                            <a href="/sysadmin" class="selected">登陆</a>
                        </li>
                        <li class="active">
                            <a href="#" class="">注册</a>
                        </li>
                    </ul>


                    <div class="step-content">
                        <section class="panel bg-white no-b fadeIn animated">
                            <header class="panel-heading no-b text-center" style="font-size:30px;">
                                ${AppName!}
                            </header>

                            <form id="addForm" role="form" class="form-horizontal parsley-form" data-parsley-validate
                                  action="${base}/public/doreg" method="post">

                                <!--账号注册-->
                                <!-- <div class="form-group">
                            <label for="loginname" class="col-sm-3 control-label">用户名</label>
                            <div class="col-sm-8">
                                <input type="text" id="loginname" class="form-control" name="user.loginname" data-parsley-trigger="change"
                                       data-parsley-required="true" data-parsley-maxlength="6"  placeholder="">
                            </div>
                        </div> -->

                                <div class="form-group">
                                    <label for="username" class="col-sm-3 control-label">用户名</label>

                                    <div class="col-sm-8">
                                        <input type="text" id="username" class="form-control" name="username"
                                               data-parsley-required="true" placeholder="用户名">
                                    </div>
                                </div>

                                <!-- todo: remote ajax认证！ -->
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">邮箱</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="email" name="email" data-parsley-type="email"
                                               class="form-control" placeholder="请输入您的邮箱!"
                                               data-parsley-trigger="change">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="password" class="col-sm-3 control-label">登陆密码</label>
                                    <div class="col-sm-8">
                                        <input type="password" id="password" class="form-control" name="password"
                                               data-parsley-required="true" placeholder="请输入8-16位密码！"
                                               data-parsley-maxlength="16" data-parsley-minlength="8"
                                               data-parsley-trigger="change">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="repassword" class="col-sm-3 control-label">确认密码</label>
                                    <div class="col-sm-8">
                                        <input type="password" id="repassword" class="form-control"
                                               placeholder="请重新输入密码！"
                                               data-parsley-required="true"
                                               data-parsley-trigger="change"
                                               data-parsley-required-message="确认密码不可为空"
                                               data-parsley-equalto="#password"
                                               data-parsley-equalto-message="两次密码输入不一致">
                                    </div>
                                </div>


                                <div class="form-group text-center">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        <label></label>
                                        <button class="btn btn-primary btn-block btn-parsley"
                                                data-loading-text="正在提交...">注册
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </section>

                        <p class="text-center">
                            Copyright &copy;
                            <span id="year" class="mr5"></span>
                            <span>武汉哎嘀信息科技有限公司</span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var el = document.getElementById("year"),
        year = (new Date().getFullYear());
    el.innerHTML = year;

    $(document).ready(function () {
        myForm.init();
        //        提交注册信息
        $('#addForm').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (arr, form, options) {
                form.find("button:submit").button("loading");
            },
            success: function (data, statusText, xhr, form) {
                if (data.code == 0) {
                    Toast.success(data.msg);
                    window.location.href = "/sysadmin";
                    // 用户详情界面

                } else {
                    Toast.error(data.msg);
                }
                form.find("button:submit").button("reset");
            }
        });

        //  邮箱注册信息提示
//                $("#dialogDetail").on("hidden.bs.modal", function () {
//                    $(this).removeData("bs.modal");
//                });

    });
</script>
</body>

<script src="${base!}/assets/plugins/fuelux/wizard.js"></script>

<%}%>