<%
layout("/layouts/platform.html"){
%>

<div class="content-wrap">

    <div class="wrapper">
        <dl class="accordion">
            <dt>
                <a href="javascript:;" class="active">gyb-nb-Dubbo</a>
            </dt>
            <dd style="display: block">
                <b>源码地址</b><br>
                <a href="https://github.com/Marveliu/gyb" target="_blank">https://github.com/Marveliu/gyb</a>
                <br>
                <span style="font-weight:bold;font-size: 14px;width: 120px;"> 采用 Apache Licence 2.0许可的开源项目。</span>
                <br>
                <br>
            </dd>

        </dl>
    </div>

</div>

<%}%>
