<%
layout("/layouts/platform.html"){
%>

<div class="content-wrap">

    <div class="wrapper">
        <dl class="accordion">
            <dt>
                <a href="javascript:;" class="active">1.2.4</a>
            </dt>
            <dd style="display: block">
                <b>参考项目：</b>
                <a href="https://github.com/Wizzercn/NutzWk" target="_blank">nutwk power by nutz</a>
                <br>
                <b>使用说明:</b>
                <br>
                &#149; 请看群里面的用户手册。<br>
            </dd>

        </dl>
    </div>

</div>


<%}%>